bs4==0.0.1
cryptography==3.3.2
feedparser
Flask==1.1.2
gender-guesser==0.4.0
joblib==0.15.1
MarkupSafe==1.1.1
more-itertools==8.3.0
nltk==3.6.6
pandas==1.1.4
python-dateutil==2.8.1
pytz==2020.1
requests==2.27.1
textblob==0.15.3
xlrd==1.2.0
faker==13.3.2
freezegun==1.2.0
beautifulsoup4~=4.10.0
fastapi~=0.75.0
pydantic~=1.9.0
pytest